.form {
    max-width: 397px;
}

.title {
    color: #052C65;
}

.form-control {
    border-color: #CED4DA;

}

.input-group-text {
    background-color: #E9ECEF;
    border-color: #CED4DA;
}

.error {
    color: #dc3545;
    font-size: 14px;
    margin-top: 2px;
    display: none;
}

.element {
    border-right: 1px solid #D9D9D9;
}

a span {
    color: #052C65;
}

.accordion-button::after {
    transform: rotate(270deg);
}

.accordion-button:not(.collapsed)::after {
    color: white;
    background-image: url('/assets/images/arrow.svg');
    transform: rotate(360deg);
    background-position: 50%;
}

.accordion-button:not(.collapsed) {
    background-color: #0D6EFD;
    color: white;
    box-shadow: none;

}

.accordion-button.collapsed {
    border-color: white;
    box-shadow: none;
}

.accordion-body {
    color: #0D6EFD;
    text-decoration: none;
    display: block;
}

.choosen {
    background-color: #0D6EFD;
    color: white;
}

.card-title {
    color: #290661;
    font-size: 28px;
    line-height: 33px;
}

.plus {
    text-decoration: none;
}

.layout {
    min-height: 100%;
    height: 100vh;
}

.accordion-item {
    border-color: white;

}

button:focus:not(:focus-visible) {
    box-shadow: none;
}

.accordion-button {
    color: #052C65;
}

a.user {
    color: #052C65 !important;
}

.balance {
    color: #052C65;
}

.accordion-collapse.show {
    border: 2px solid #0D6EFD;
    border-top: white;
    box-shadow: none;
}

.select {
    background-color: #0D6EFD;

}

.select span {
    color: white;
}

.filter a {
    width: 100px;
}

.table-header th {
    color: #052C65;
}

.modal-text {
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    color: #290661;
}

.myChartContainer {
    width: 437px;
    height: 467px;

}

.line {
    width: 1px;
    background-color: #D9D9D9;
    margin-left: 34px;
    margin-right: 34px;
    margin-top: 60px;
}

.chart-title {
    color: #052C65;
}

