<form class="form m-auto mt-5">

    <div class="text-center mb-5">
        <img src="images/logo.svg" alt="логотип">
    </div>
    <h1 class="title text-center mb-4">Создайте аккаунт</h1>
    <div class="input-group col-4">
        <span class="input-group-text " id="basic-addon1">
            <img src="images/person.svg" alt="иконка">
        </span>
        <input id="name" type="text" class="form-control" placeholder="Имя" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="error" id="name-error">Некорректное имя</div>
    <div class="input-group col-4 mt-3">
        <span class="input-group-text " id="basic-addon1">
            <img src="images/person.svg" alt="иконка">
        </span>
        <input id="last-name" type="text" class="form-control" placeholder="Фамилия" aria-label="Username"
            aria-describedby="basic-addon1">
    </div>
    <div class="error" id="last-name-error">Некорректная фамилия</div>
    <div class="input-group col-4 mt-3">
        <span class="input-group-text " id="basic-addon1">
            <img src="images/mail.svg" alt="иконка">
        </span>
        <input id="email" type="text" class="form-control" placeholder="Электронная почта" aria-label="Username"
            aria-describedby="basic-addon1">
    </div>
    <div class="error" id="email-error">Неправильный email</div>
    <div class="input-group mt-3 flex-nowrap">
        <span class="input-group-text " id="addon-wrapping">
            <img src="images/lock.svg" alt="иконка">
        </span>
        <input id="password" type="password" class="form-control" placeholder="Пароль" aria-label="Username"
            aria-describedby="addon-wrapping">
    </div>
    <div class="error" id="password-error">Неверный пароль</div>
    <div class="input-group mt-3 flex-nowrap">
        <span class="input-group-text " id="addon-wrapping">
            <img src="images/lock.svg" alt="иконка">
        </span>
        <input id="repeat-password" type="password" class="form-control" placeholder="Подтверждение пароля" aria-label="Username"
            aria-describedby="addon-wrapping">
    </div>
    <div class="error" id="repeat-password-error">Неверный пароль</div>

    <button id="process" type="button" class="btn btn-primary w-100 mb-1 mt-4">Войти</button>
    <div class="text-center">Уже есть аккаунт? <a href="#/">Войдите в систему</a></div>
</form>